// будет складывать в лог рядом с исполняемым файлом

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="messages"
                    type="System.Diagnostics.XmlWriterTraceListener"
                    initializeData="messages.svclog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>

    <system.serviceModel>
        <diagnostics>
            <messageLogging
                 logEntireMessage="true"
                 logMalformedMessages="false"
                 logMessagesAtServiceLevel="true"
                 logMessagesAtTransportLevel="true"
                 maxMessagesToLog="30000"
                 maxSizeOfMessageToLog="20000"/>
        </diagnostics>
    </system.serviceModel>
</configuration>
